@import 'leaflet/dist/leaflet.css';


/* Fondo y centrado */
.login-page {
    background-color: #f3f4f6; /* gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Tarjeta */
.login-card {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Título */
.login-card h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Campos del formulario */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Errores */
.error {
    color: #dc2626;
    font-size: 13px;
    margin-top: 0.25rem;
}

/* Botón */
.btn-primary {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #1e40af;
}

/* Enlace registro */
.register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}

.register-link a {
    color: #2563eb;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


/* Fondo y centrado */
.register-page {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Tarjeta */
.register-card {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Título */
.register-card h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Campos del formulario */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Errores */
.error {
    color: #dc2626;
    font-size: 13px;
    margin-top: 0.25rem;
}

/* Botón */
.btn-primary {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #1e40af;
}

/* Enlace login */
.login-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}

.login-link a {
    color: #2563eb;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
